/* Página */
body {
    background-color: #000000b4;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.611)),
    url("ChatGPT\ Image\ 24\ de\ jun.\ de\ 2026\,\ 20_05_25.png");
     background-size: cover;
      background-position: center;
      background-repeat: no-repeat; /* Evita repetição */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar */
}

/* Cabeçalho */
header {
    background-color: #000;
    border-bottom: 3px solid #06d3e6da;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
header h1 {
    color: #06d3e6da;
}

/* Navegação */
.link a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    border: 2px solid #06d3e6da;
    border-radius: 5px;
    transition: 0.3s;
}

.link a:hover {
    background-color: #06d3e6da;
    color: black;
}

/* Galeria de imagens */
/* Container das imagens */
.imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    padding: 40px;
}

/* Estilo das imagens + animação */
.imagens img {
    width: 360px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    animation: entrada 0.8s ease forwards;
}

.imagens img:hover {
    transform: scale(1.05);
}

/* Efeito de escada */
.img1 {
    margin-top: 0;
    border: solid #06d3e6da;
}

.img2 {
    margin-top: 40px;
    border: solid #06d3e6da;
}

.img3 {
    margin-top: 80px;
    border: solid #06d3e6da;
}

.img4 {
    margin-top: 120px;
    border: solid #06d3e6da;
}
@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.locali{
    text-align: center;
    
}

.localidade {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    padding: 40px;
}
.localidade img{
    border: solid #06d3e6da;
}
.localidade loq {
    width: 700px;
    height: auto;
}

/* Estilo das imagens + animação */
.localidade img {
    width: 500px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    animation: entrada 0.8s ease forwards;
}

.localidade img:hover {
    transform: scale(1.05);
}
/* ===========================
   TÍTULO
=========================== */
.pl {
    text-align: center;
    color: #fff;
    margin: 40px 0;
}
/* ===========================
   Link inicio
=========================== */
.Voltar{
    text-align: center;
}
.Voltar a{
     color: white;
    text-decoration: none;
}



/* ===========================
   Noticias
=========================== */
.Noticias {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    color: black;
}

.NT {
    width: 280px;
    background: #fff;
    border: 5px solid #06d3e6da;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.NT h2 {
    color: #000;
    margin-bottom: 15px;
}

.NT ul {
    text-align: left;
    margin: 15px 0;
    color: #333;
}

.NT li {
    margin-bottom: 8px;
}
.Ni{
    text-align: center;
}
/*loaclização*/
.loq{
    text-align: center;
    text-decoration: none;
    margin-top: -45px; 
   
}
.loq ul{
    list-style: none;

}
.treino {
    width: 750px;
    padding-left: 450px;
    
}
.texto{
    width: 750px;
    padding-left: 450px;
}
.ofc-lista {
    text-align: center;
}
.ofc-lista  ul{
    width: 20%;
    margin: 0% auto;
    
}
.ofc-lista  li{
    border-radius: 8px;
    padding: 12px;
    margin: 8px 0;
    list-style: none;
    padding: 15px;
    border: 15px;
    border: 5px solid #06d3e6da;
}
.ofc-lista {
    display: flex;
    justify-content: center;
    gap:  -77px;
}

.ofc-lista ul {
    list-style: none;
    padding: 0;
}

.ofc-lista li {
    margin: 8px 0;
}

.oq h2{
    text-align: center;
}
/* ===========================
   Horarios
=========================== */
.HF{ 
    text-align: center;
    border: 5px solid #06d3e6da;
    width: 300px;
    margin: 0% auto;
    margin-top: 20px;
}
.HF ul{
    list-style: none;
    
}


footer {
    background: linear-gradient(#0fbda6ee, #06d3e6da);
    color: white;
    padding: 25px 20px;
    margin-top: 50px;
    
}

footer .fot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer .fot h1 {
    font-size: 1.8rem;
}

footer .fot Criadores ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
ooter .fot Criadores li{
    list-style: none;
}
